name: Weekly EndeavourOS ISO rebuilds

on:
  schedule:
    - cron: "0 0 * * 5" #once a week
    #- cron : "0 */8 * * *" #every 8 hours (3 per day)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 120

    permissions:
      contents: write

    container:
      image: archlinux:latest
      options: --privileged

    steps:
      - uses: actions/checkout@v2
      
      - name: switch tmp to file
        run: bash switch-tmp
      
      - name: Set current date as environment variable
        run: echo "NOW=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
                      
      - name: Add EndeavourOS Repo
        run: bash add-EndeavourOS
        
      - name: preparations to build ISO
        run: bash prepare-action
        
      - name: Build ISO
        run: bash build-iso
         
      - name: Upload binaries to release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.ACCESS_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Weekly Rebuild ${{ env.NOW }}"
          files: |
                 EndeavourOS-ISO/out/EndeavourOS_Mercury-Neo-${{ env.NOW }}-x86_64.iso.split-aa
                 EndeavourOS-ISO/out/EndeavourOS_Mercury-Neo-${{ env.NOW }}-x86_64.iso.split-ab
                 EndeavourOS-ISO/out/EndeavourOS_Mercury-Neo-${{ env.NOW }}-x86_64.iso.split-ac
                 EndeavourOS-ISO/out/EndeavourOS_Mercury-Neo-${{ env.NOW }}-x86_64.iso.split-ad
                 EndeavourOS-ISO/out/EndeavourOS_Mercury-Neo-${{ env.NOW }}-x86_64.iso.sha512sum
                 EndeavourOS-ISO/out/eosiso.log
          id: "weekly-iso-rebuild"

      - name: Upload server_DEVEL
        run: "curl -g -k -T EndeavourOS-ISO/out/EndeavourOS_Mercury-Neo-${{ env.NOW }}-x86_64.iso -u ${{secrets.SERVER_STRING_WEEKLY}}"
